
<h2> <%= dinosaur.name %></h2>
<p>This dinosaur is a good dinosaur, and it is a <%= dinosaur.type %></p>

<a href="/dinosaurs/<%= dinosaur.id %>/edit">EDIT THIS DINO</a>

<form method="POST" action="/dinosaurs/<%= dinosaur.id %>/?_method=DELETE">
  <input type="submit" value="DELETE">
</form>

<a href="/dinosaurs">BACK TO DINOS</a>
